.list-controls .select-kit.is-expanded .select-kit-body {
    max-width: 80% !important;
    padding: 5px 15px 15px !important;
    margin: 0 20% 0 0 !important;
}

.list-controls .select-kit .select-kit-collection {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.list-controls .select-kit.tag-chooser .select-kit-row,
.list-controls .select-kit.mini-tag-chooser .select-kit-row,
.list-controls .select-kit.tag-drop .select-kit-row {
    padding: .1em .5em !important;
}
