.list-controls .select-kit.is-expanded .select-kit-body {
    max-width: 85% !important;
    padding: 5px 15px 15px !important;
    margin: 0 25% 0 0 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    background-color: #f7f4f4 !important;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTAwJScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48ZGVmcz48ZmlsdGVyIGlkPSdhJz48ZmVUdXJidWxlbmNlIHR5cGU9J2ZyYWN0YWxOb2lzZScgYmFzZUZyZXF1ZW5jeT0nLjQnLz48L2ZpbHRlcj48L2RlZnM+PCEtLSA8cGF0aCBmaWx0ZXI9J3VybCgjYSknIG9wYWNpdHk9Jy4zJyBkPSdNMCAwaDEyMDB2MjU2SDB6Jy8+LS0+PHJlY3QgZmlsdGVyPSd1cmwoI2EpJyBvcGFjaXR5PScuMycgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScvPjwvc3ZnPg==);
}



.list-controls .select-kit .select-kit-collection {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.list-controls .select-kit.tag-chooser .select-kit-row,
.list-controls .select-kit.mini-tag-chooser .select-kit-row,
.list-controls .select-kit.tag-drop .select-kit-row {
    padding: .1em .5em !important;
    background: #fff !important;
}

.list-controls .select-kit .select-kit-row.is-highlighted {
    /* background: #b0b0cc !important; */
    outline: 1px dashed var(--tertiary);
    outline-offset: -3px;
}
color: var(--tertiary);
