


.list-controls .category-drop .select-kit-body {
    max-width: 85% !important;
    padding: 10px !important;
    margin: 0 25% 0 0 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    background-color: #f7f4f4 !important;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTAwJScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48ZGVmcz48ZmlsdGVyIGlkPSdhJz48ZmVUdXJidWxlbmNlIHR5cGU9J2ZyYWN0YWxOb2lzZScgYmFzZUZyZXF1ZW5jeT0nLjQnLz48L2ZpbHRlcj48L2RlZnM+PCEtLSA8cGF0aCBmaWx0ZXI9J3VybCgjYSknIG9wYWNpdHk9Jy4zJyBkPSdNMCAwaDEyMDB2MjU2SDB6Jy8+LS0+PHJlY3QgZmlsdGVyPSd1cmwoI2EpJyBvcGFjaXR5PScuMycgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScvPjwvc3ZnPg==);
}

 .list-controls .tag-drop .select-kit-body {
    max-width: 85% !important;
    padding: 10px !important;
    margin: 0 25% 0 0 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    background-color: #f7f4f4 !important;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTAwJScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48ZGVmcz48ZmlsdGVyIGlkPSdhJz48ZmVUdXJidWxlbmNlIHR5cGU9J2ZyYWN0YWxOb2lzZScgYmFzZUZyZXF1ZW5jeT0nLjQnLz48L2ZpbHRlcj48L2RlZnM+PCEtLSA8cGF0aCBmaWx0ZXI9J3VybCgjYSknIG9wYWNpdHk9Jy4zJyBkPSdNMCAwaDEyMDB2MjU2SDB6Jy8+LS0+PHJlY3QgZmlsdGVyPSd1cmwoI2EpJyBvcGFjaXR5PScuMycgd2lkdGg9JzEwMCUnIGhlaWdodD0nMTAwJScvPjwvc3ZnPg==);
    margin: 0 calc(25% + 35px) 0 0 !important;
}

.list-controls .select-kit.is-expanded .select-kit-filter.is-expanded {
    background: var(--secondary) !important;
    border: 1px solid var(--primary-400) !important;
    border-radius: 4px !important;
    padding: 2px .5em 0 !important;
}

.list-controls .select-kit .select-kit-collection {
    width: auto !important;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    background-color: var(--secondary) !important;
    border-radius: 4px !important;
}

.list-controls .select-kit.tag-chooser .select-kit-row,
.list-controls .select-kit.mini-tag-chooser .select-kit-row,
.list-controls .select-kit.tag-drop .select-kit-row {
    padding: .1em .5em !important;
    border-radius: 4px !important;
}

.list-controls .select-kit .select-kit-row.is-highlighted {
    background-color: var(--secondary) !important;
    outline: 1px dashed var(--tertiary) !important;
    outline-offset: -3px !important;
    border-radius: 4px !important;
}

